* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #031837;
  background-color: #fffffa;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  color: #031837;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  flex-wrap: wrap;
  position: relative;
  z-index: 1100;
}
.header .accroche {
  flex: 1;
  margin: 0 2rem;
}
.header .accroche h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #be097f;
  font-weight: 800;
  text-align: center;
  line-height: 3.5rem;
}
.header .accroche h1 .span-h1 {
  font-size: 3.4rem;
  color: #3fab35;
}
.header .accroche h2 {
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
}
.header .cta-buttons {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.header .cta-buttons .btn {
  position: relative;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: bold;
  background-image: linear-gradient(-180deg, rgb(0, 213, 105.1851851852) 0%, #00a250 100%);
  color: #fffffa;
  text-align: center;
  border: none;
  box-shadow: 0 0.5rem 0.7rem rgba(0, 100, 60, 0.2), 0 -0.15rem 0.6rem rgba(0, 80, 40, 0.3) inset, 0 0.3rem 0.2rem rgba(255, 255, 255, 0.2) inset;
  transition: all 0.15s ease-in-out;
}
.header .cta-buttons .btn:hover {
  transform: translateY(3px) scale(0.98);
  box-shadow: 0 0.1rem 0.15rem rgba(0, 60, 40, 0.3), 0 -0.1rem 0.6rem rgba(0, 80, 40, 0.4) inset, inset 0 0.2rem 0.3rem rgba(0, 40, 20, 0.3), inset 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}
.header .cta-buttons .btn::before, .header .cta-buttons .btn::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2rem);
  height: 0.1rem;
  border-radius: 100%;
}
.header .cta-buttons .btn::before {
  top: 0.4rem;
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #ffffff 20%, #ffffff 80%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.5;
}
.header .cta-buttons .btn::after {
  bottom: 0.5rem;
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #ffffff 20%, #ffffff 80%, rgba(255, 255, 255, 0) 100%);
  filter: blur(1px);
  opacity: 0.05;
}
.header .cta-buttons .secondary {
  background-color: #be097f;
  color: #fffffa;
  border: none;
  background-image: linear-gradient(-180deg, rgb(214.3467336683, 10.1532663317, 143.2738693467) 0%, #be097f 100%);
  box-shadow: 0 0.5rem 0.7rem rgba(180, 100, 80, 0.2), 0 -0.15rem 0.6rem rgba(160, 80, 60, 0.3) inset, 0 0.3rem 0.2rem rgba(255, 255, 255, 0.2) inset;
  transition: all 0.15s ease-in-out;
}
.header .cta-buttons .secondary:hover {
  transform: translateY(3px) scale(0.98);
  box-shadow: 0 0.1rem 0.15rem rgba(100, 50, 40, 0.3), 0 -0.1rem 0.6rem rgba(160, 80, 60, 0.4) inset, inset 0 0.2rem 0.3rem rgba(120, 60, 40, 0.3), inset 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1024px) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }
  .header .logo-container img {
    height: 80px;
  }
  .header .accroche {
    margin: 0;
  }
  .header .accroche h1 {
    font-size: 1.6rem;
  }
  .header .accroche h1 .span-h1 {
    font-size: 2.3rem;
  }
  .header .accroche h2 {
    font-size: 1.2rem;
  }
  .header .cta-buttons {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
  }
  .header .cta-buttons .btn {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }
}

.main-content {
  flex: 1;
}

.hero-section {
  background-color: #f6ab78;
  display: flex;
  height: 500px;
  justify-content: space-between;
}
.hero-section .side-wrapper {
  position: fixed;
  top: 224px;
  left: 0;
  width: 60px;
  z-index: 1000;
}
.hero-section .menu-trigger {
  background-color: #031837;
  color: #f6ab78;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.1rem 0;
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.hero-section .menu-trigger .menu-icone {
  padding-right: 0.5rem;
  filter: invert(69%) sepia(50%) saturate(452%) hue-rotate(334deg) brightness(100%) contrast(93%);
}
.hero-section .side-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  background-color: #031837;
  transition: width 0.1s ease, opacity 0.1s ease;
  opacity: 0;
  pointer-events: none;
}
.hero-section .side-menu ul {
  list-style: none;
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
}
.hero-section .side-menu ul li a {
  color: #fffffa;
  font-weight: 600;
  font-size: 1rem;
  line-height: 10px;
}
.hero-section .side-menu ul :hover {
  color: #be097f;
}
.hero-section .side-wrapper:hover .side-menu {
  width: 200px;
  opacity: 1;
  pointer-events: all;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.hero-section .accroche {
  background: linear-gradient(to right, #031837 0%, rgb(6.1655172414, 49.324137931, 113.0344827586) 100%);
  display: flex;
}
.hero-section .accroche .accroche-texte {
  padding: 20px 0 0 100px;
  flex: 1;
}
.hero-section .accroche .accroche-texte h2 {
  font-size: 2.6rem;
  margin-bottom: 1rem;
  color: #5bb887;
  margin-bottom: 2rem;
}
.hero-section .accroche .accroche-texte p {
  color: #fffffa;
  max-width: 40rem;
  width: 100%;
  font-size: 1.4rem;
  line-height: 3rem;
  font-weight: 100;
}
.hero-section .accroche .accroche-image {
  flex: 1;
}
.hero-section .accroche .accroche-image img {
  height: 500px;
  width: auto;
  max-width: 90%;
  min-width: 300px;
  margin-left: 25%;
  animation: slideUp 2s ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateX(1000px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 1024px) {
  .hero-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    margin-left: 0;
    padding: 1rem 0;
    background: linear-gradient(to right, #031837 0%, rgb(6.1655172414, 49.324137931, 113.0344827586) 100%);
  }
  .hero-section .accroche {
    flex-direction: column;
    align-items: center;
  }
  .hero-section .accroche .accroche-texte {
    padding: 0 1rem;
  }
  .hero-section .accroche .accroche-texte h2 {
    font-size: 2rem;
  }
  .hero-section .accroche .accroche-texte p {
    font-size: 1.1rem;
    line-height: 2rem;
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  .hero-section .accroche .accroche-image {
    margin-top: 2rem;
  }
  .hero-section .accroche .accroche-image img {
    width: 90%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    animation: slideLeftMobile 1.5s ease-out 0.2s both;
  }
  .hero-section .side-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #031837;
    z-index: 1000;
  }
  .hero-section .menu-trigger {
    display: none;
  }
  .hero-section .side-menu {
    position: relative;
    width: 100%;
    opacity: 1 !important;
    pointer-events: all;
    background-color: #031837;
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
  }
  .hero-section .side-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
  }
  .hero-section .side-menu ul li {
    list-style: none;
  }
  .hero-section .side-menu ul li a {
    display: block;
    padding: 0.6rem 1rem;
    color: #fffffa;
    font-weight: bold;
  }
  .hero-section .side-menu ul li a:hover {
    color: #be097f;
  }
}
.vignettes-section {
  background-color: #fffffa;
  padding: 4rem 10vw;
  text-align: center;
}
.vignettes-section .vignettes-title {
  font-size: 2.6rem;
  color: #be097f;
  margin-bottom: 2.6rem;
}
.vignettes-section .vignettes-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.vignettes-section .vignette-flip {
  perspective: 1000px;
  width: clamp(220px, 25vw, 300px);
  height: 180px;
  overflow: hidden;
}
.vignettes-section .vignette-flip .vignette-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-out;
  transform-style: preserve-3d;
}
.vignettes-section .vignette-flip:hover .vignette-inner {
  transform: rotateY(180deg);
}
.vignettes-section .vignette-flip:hover .vignette-front, .vignettes-section .vignette-flip:hover .vignette-back {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 0.5rem;
}
.vignettes-section .vignette-flip .vignette-front,
.vignettes-section .vignette-flip .vignette-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 2rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  transition: border-radius 0.4s ease, all 0.4s ease;
}
.vignettes-section .vignette-flip .vignette-front {
  background: linear-gradient(145deg, rgb(5.6379310345, 45.1034482759, 103.3620689655), #031837);
  color: #fffffa;
}
.vignettes-section .vignette-flip .vignette-front img {
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 0.8rem;
}
.vignettes-section .vignette-flip .vignette-front p {
  margin: 0;
  font-size: 1.5rem;
}
.vignettes-section .vignette-flip .vignette-back {
  transform: rotateY(180deg);
  background: linear-gradient(135deg, #5bb887, rgb(52.2680851064, 120.7319148936, 84.6595744681));
  color: #fffffa;
  font-size: 1.2rem;
  letter-spacing: 0.3px;
}
.vignettes-section .vignette-flip .vignette-back p {
  margin: 0;
  text-align: center;
  max-width: 90%;
}
.vignettes-section .vignette-flip .vignette-back .btn {
  position: relative;
  padding: 0.5rem 1.2rem;
  border-radius: 6px;
  font-weight: bold;
  background-image: linear-gradient(-180deg, rgb(245.5477386935, 55.4522613065, 179.3819095477) 0%, #be097f 100%);
  color: white;
  text-align: center;
  border: none;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  box-shadow: 0 0.5rem 0.7rem rgba(200, 80, 40, 0.25), 0 -0.15rem 0.6rem rgba(255, 150, 120, 0.3) inset, 0 0.3rem 0.2rem rgba(255, 255, 255, 0.2) inset;
  transition: all 0.2s ease-in-out;
}
.vignettes-section .vignette-flip .vignette-back .btn:hover {
  transform: translateY(2px) scale(0.97);
  box-shadow: 0 0.1rem 0.15rem rgba(180, 60, 30, 0.3), 0 -0.1rem 0.6rem rgba(255, 130, 100, 0.4) inset, inset 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2), inset 0 0.1rem 0.2rem rgba(255, 255, 255, 0.1);
}
.vignettes-section .vignette-flip .vignette-back .btn::before, .vignettes-section .vignette-flip .vignette-back .btn::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2rem);
  height: 0.1rem;
  border-radius: 100%;
}
.vignettes-section .vignette-flip .vignette-back .btn::before {
  top: 0.4rem;
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #ffffff 20%, #ffffff 80%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.5;
}
.vignettes-section .vignette-flip .vignette-back .btn::after {
  bottom: 0.5rem;
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #ffffff 20%, #ffffff 80%, rgba(255, 255, 255, 0) 100%);
  filter: blur(1px);
  opacity: 0.05;
}

@media screen and (max-width: 1024px) {
  .vignettes-section {
    padding: 2rem 1rem;
  }
  .vignettes-section .vignettes-title {
    font-size: 2rem;
  }
  .vignettes-section .vignettes-grid {
    gap: 1.2rem;
  }
  .vignettes-section .vignette {
    width: clamp(150px, 40vw, 240px);
    height: 150px;
    font-size: 1.1rem;
    padding: 0.8rem;
  }
  .vignettes-section .vignette:active {
    transform: scale(0.98);
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.2);
  }
}
.simulateur-section {
  background: linear-gradient(to left, #5bb887 0%, rgb(133.709787234, 202.490212766, 166.2510638298) 100%);
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}
.simulateur-section .simulateur-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 0 2rem;
  gap: 3rem;
}
.simulateur-section .simulateur-image {
  flex: 1;
  display: flex;
  justify-content: center;
}
.simulateur-section .simulateur-image img {
  height: 500px;
  width: auto;
  max-width: 90%;
  min-width: 300px;
}
.simulateur-section .simulateur-texte {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px 0;
}
.simulateur-section .simulateur-texte h2 {
  align-items: flex-start;
  font-size: 2.6rem;
  margin-bottom: 2rem;
  color: #fffffa;
}
.simulateur-section .simulateur-texte p {
  align-items: flex-start;
  text-align: justify;
  color: #031837;
  font-size: 1.5rem;
  line-height: 2.6rem;
  font-weight: 300;
  margin-bottom: 2rem;
  max-width: 40rem;
}
.simulateur-section .simulateur-texte .btn {
  align-self: center;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: bold;
  background-image: linear-gradient(-180deg, rgb(238.6934673367, 11.3065326633, 159.5477386935) 0%, #be097f 100%);
  color: #fffffa;
  font-size: 1.25rem;
  text-align: center;
  border: none;
  box-shadow: 0 0.5rem 0.7rem rgba(0, 100, 60, 0.2), 0 -0.15rem 0.6rem rgba(0, 80, 40, 0.3) inset, 0 0.3rem 0.2rem rgba(255, 255, 255, 0.2) inset;
  transition: all 0.15s ease-in-out;
}
.simulateur-section .simulateur-texte .btn:hover {
  transform: translateY(3px) scale(0.98);
  box-shadow: 0 0.1rem 0.15rem rgba(0, 60, 40, 0.3), 0 -0.1rem 0.6rem rgba(0, 80, 40, 0.4) inset, inset 0 0.2rem 0.3rem rgba(0, 40, 20, 0.3), inset 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}
.simulateur-section .simulateur-texte .btn::before, .simulateur-section .simulateur-texte .btn::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2rem);
  height: 0.1rem;
  border-radius: 100%;
}
.simulateur-section .simulateur-texte .btn::before {
  top: 0.4rem;
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #ffffff 20%, #ffffff 80%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.5;
}
.simulateur-section .simulateur-texte .btn::after {
  bottom: 0.5rem;
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #ffffff 20%, #ffffff 80%, rgba(255, 255, 255, 0) 100%);
  filter: blur(1px);
  opacity: 0.05;
}

@media screen and (max-width: 1024px) {
  .simulateur-section .simulateur-content {
    flex-direction: column-reverse;
    text-align: center;
    gap: 2rem;
    padding: 2rem;
  }
  .simulateur-section .simulateur-image img {
    margin: 0 auto;
    max-width: 300px;
    height: auto;
  }
  .simulateur-section .simulateur-texte {
    padding: 0;
  }
  .simulateur-section .simulateur-texte h2 {
    font-size: 2rem;
  }
  .simulateur-section .simulateur-texte p {
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin: 0 auto;
  }
  .simulateur-section .simulateur-texte .btn {
    margin-top: 1.5rem;
  }
}
.expert-section {
  background: #fffffa;
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}
.expert-section .expert-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 0 2rem;
  gap: 3rem;
}
.expert-section .expert-image {
  flex: 1;
  display: flex;
  justify-content: center;
}
.expert-section .expert-image img {
  height: 500px;
  width: auto;
  max-width: 90%;
  min-width: 300px;
}
.expert-section .expert-texte {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px 0;
}
.expert-section .expert-texte h2 {
  font-size: 2.6rem;
  margin-bottom: 2rem;
  color: #00a250;
}
.expert-section .expert-texte p {
  color: #031837;
  text-align: justify;
  font-size: 1.5rem;
  line-height: 2.6rem;
  font-weight: 300;
  margin-bottom: 2rem;
  max-width: 40rem;
}
.expert-section .expert-texte .btn {
  align-self: center;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: bold;
  background-image: linear-gradient(-180deg, rgb(0, 213, 105.1851851852) 0%, #00a250 100%);
  color: #fffffa;
  font-size: 1.25rem;
  text-align: center;
  border: none;
  box-shadow: 0 0.5rem 0.7rem rgba(0, 100, 60, 0.2), 0 -0.15rem 0.6rem rgba(0, 80, 40, 0.3) inset, 0 0.3rem 0.2rem rgba(255, 255, 255, 0.2) inset;
  transition: all 0.15s ease-in-out;
}
.expert-section .expert-texte .btn:hover {
  transform: translateY(3px) scale(0.98);
  box-shadow: 0 0.1rem 0.15rem rgba(0, 60, 40, 0.3), 0 -0.1rem 0.6rem rgba(0, 80, 40, 0.4) inset, inset 0 0.2rem 0.3rem rgba(0, 40, 20, 0.3), inset 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}
.expert-section .expert-texte .btn::before, .expert-section .expert-texte .btn::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2rem);
  height: 0.1rem;
  border-radius: 100%;
}
.expert-section .expert-texte .btn::before {
  top: 0.4rem;
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #ffffff 20%, #ffffff 80%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.5;
}
.expert-section .expert-texte .btn::after {
  bottom: 0.5rem;
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #ffffff 20%, #ffffff 80%, rgba(255, 255, 255, 0) 100%);
  filter: blur(1px);
  opacity: 0.05;
}

@media screen and (max-width: 1024px) {
  .expert-section .expert-content {
    flex-direction: column-reverse;
    text-align: center;
    gap: 2rem;
    padding: 2rem;
  }
  .expert-section .expert-image img {
    margin: 0 auto;
    max-width: 300px;
    height: auto;
  }
  .expert-section .expert-texte {
    padding: 0;
  }
  .expert-section .expert-texte h2 {
    font-size: 2rem;
  }
  .expert-section .expert-texte p {
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin: 0 auto;
  }
  .expert-section .expert-texte .btn {
    margin-top: 1.5rem;
  }
}
.actus-section {
  background: linear-gradient(to right, #031837 0%, rgb(6.1655172414, 49.324137931, 113.0344827586) 100%);
  padding: 4rem 3rem 6rem;
  text-align: center;
}
.actus-section h2 {
  font-size: 2.6rem;
  color: #fffffa;
  margin-bottom: 2rem;
}
.actus-section .actus-marquee {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 100%;
  border-top: 3px solid #00a250;
  border-bottom: 3px solid #00a250;
  background: white;
  padding: 1rem 0;
}
.actus-section .actus-marquee:hover .marquee-track {
  animation-play-state: paused;
}
.actus-section .marquee-track {
  display: flex;
  padding: 1rem 0;
  gap: 4rem;
  animation: scroll-left 30s linear infinite;
  width: -moz-fit-content;
  width: fit-content;
  will-change: transform;
}
.actus-section .actu-item {
  white-space: nowrap;
  font-size: 1.5rem;
  font-weight: 300;
  color: #031837;
  flex-shrink: 0;
  padding: 0 0.8rem;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}
.actus-section .actu-item::after {
  content: " ";
  margin-left: 1.5rem;
  color: #00a250;
  font-weight: bold;
}
.actus-section .actu-item:last-child::after {
  content: "";
}
.actus-section .actu-item:hover {
  color: #00a250;
  text-decoration: underline;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 1024px) {
  .actus-section {
    padding: 2rem 1rem 3rem;
  }
  .actus-section h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .actus-section .actus-marquee {
    padding: 0.5rem 0;
    border-top-width: 1px;
    border-bottom-width: 1px;
  }
  .actus-section .marquee-track {
    gap: 2rem;
    padding: 0.5rem 0;
  }
  .actus-section .actu-item {
    font-size: 1.1rem;
    padding: 0 0.5rem;
    white-space: nowrap;
  }
  .actus-section .actu-item::after {
    margin-left: 1rem;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffffa;
  padding: 1.5rem 2rem;
  z-index: 1100;
}
.footer p {
  color: #031837;
}
.footer a {
  display: block;
  text-align: center;
}
.footer a img {
  width: 100%;
  max-width: 180px;
  height: auto;
  margin: 1rem auto;
  display: block;
}

@media screen and (max-width: 1024px) {
  .footer {
    text-align: center;
  }
  .footer .cta-footer {
    flex-direction: column;
    align-items: center;
  }
  .footer .cta-footer .btn {
    width: 100%;
    max-width: 200px;
    margin: 0.3rem 0;
  }
}/*# sourceMappingURL=style.css.map */